<a href="https://colab.research.google.com/github/chandan3324/PySpark/blob/main/1%20Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
spark

In [21]:
## read the dataset
df_pyspark = spark.read.option('header','true').csv('test1.csv', inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Chandan| 22|         1|
|  Akhil| 24|         2|
| Aditya| 26|         4|
+-------+---+----------+

In [22]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [48]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Chandan| 22|         1|
|  Akhil| 24|         2|
| Aditya| 26|         4|
+-------+---+----------+

In [24]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [27]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [29]:
df_pyspark.head(3)

[Row(Name='Chandan', Age=22, Experience=1),
 Row(Name='Akhil', Age=24, Experience=2),
 Row(Name='Aditya', Age=26, Experience=4)]

In [30]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Chandan| 22|         1|
|  Akhil| 24|         2|
| Aditya| 26|         4|
+-------+---+----------+

In [32]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|Chandan|
|  Akhil|
| Aditya|
+-------+

In [33]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.select(['Name', 'Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Chandan|         1|
|  Akhil|         2|
| Aditya|         4|
+-------+----------+

In [37]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [41]:
df_pyspark.describe().show()

+-------+-------+----+------------------+
|summary|   Name| Age|        Experience|
+-------+-------+----+------------------+
|  count|      3|   3|                 3|
|   mean|   NULL|24.0|2.3333333333333335|
| stddev|   NULL| 2.0|1.5275252316519465|
|    min| Aditya|  22|                 1|
|    max|Chandan|  26|                 4|
+-------+-------+----+------------------+

In [49]:
### Adding columns in dataframe
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [50]:
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 years|
+-------+---+----------+------------------------+
|Chandan| 22|         1|                       3|
|  Akhil| 24|         2|                       4|
| Aditya| 26|         4|                       6|
+-------+---+----------+------------------------+

In [52]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [53]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Chandan| 22|         1|
|  Akhil| 24|         2|
| Aditya| 26|         4|
+-------+---+----------+

In [54]:
### Rename the columns
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
| Chandan| 22|         1|
|   Akhil| 24|         2|
|  Aditya| 26|         4|
+--------+---+----------+