<a href="https://colab.research.google.com/github/chandan3324/PySpark/blob/main/3_Filters_operations_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filter Operations
1. &,|,==
2. ~

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [14]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Chandan| 22|         2| 50000|
|  Akhil| 22|         3| 35000|
| Aditya| 24|         4| 50000|
|Sandeep| 23|         2| 55000|
|  Ishan| 25|         1| 62222|
|   Ajay| 23|         2| 57000|
+-------+---+----------+------+

### Filter operations

In [16]:
### Salary of the people less than or equal to 50000
df_pyspark.filter("Salary<=50000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Chandan| 22|         2| 50000|
|  Akhil| 22|         3| 35000|
| Aditya| 24|         4| 50000|
+-------+---+----------+------+

In [17]:
df_pyspark.filter("Salary<=50000").select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Chandan| 22|
|  Akhil| 22|
| Aditya| 24|
+-------+---+

In [18]:
df_pyspark.filter(df_pyspark['Salary']<=50000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Chandan| 22|         2| 50000|
|  Akhil| 22|         3| 35000|
| Aditya| 24|         4| 50000|
+-------+---+----------+------+

In [22]:
df_pyspark.filter((df_pyspark['Salary']<=50000) &
                  (df_pyspark['Salary']>=50000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Chandan| 22|         2| 50000|
| Aditya| 24|         4| 50000|
+-------+---+----------+------+

In [23]:
df_pyspark.filter(~(df_pyspark['Salary']<=50000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Sandeep| 23|         2| 55000|
|  Ishan| 25|         1| 62222|
|   Ajay| 23|         2| 57000|
+-------+---+----------+------+