<a href="https://colab.research.google.com/github/chandan3324/PySpark/blob/main/4_GroupBy_and_Aggregate_in_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark GroupBy and Aggregate Functions

In [20]:
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [22]:
spark

In [23]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [24]:
df_pyspark.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
|Chandan|Data Science| 20000|
|Chandan|        JAVA| 10000|
| Aditya|   Mainframe| 25000|
|Sandeep|    Big Data| 21000|
|Sandeep|        JAVA| 15000|
|  Akhil|Data Science| 30000|
| Aditya|   Mainframe| 24000|
|  Akhil|Data Science| 15000|
|Sandeep|    Big Data| 11000|
+-------+------------+------+

In [25]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [26]:
df_pyspark.dtypes

[('Name', 'string'), ('Departments', 'string'), ('Salary', 'int')]

In [28]:
## GrouopBy
### Grouped to find maximum Salary
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|  Akhil|      45000|
|Chandan|      30000|
| Aditya|      49000|
|Sandeep|      47000|
+-------+-----------+

In [31]:
### GroupBy Department which gives maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|   Mainframe|      49000|
|    Big Data|      32000|
|Data Science|      65000|
|        JAVA|      25000|
+------------+-----------+

In [35]:
df_pyspark.groupBy('Departments').mean().show()

+------------+------------------+
| Departments|       avg(Salary)|
+------------+------------------+
|   Mainframe|           24500.0|
|    Big Data|           16000.0|
|Data Science|21666.666666666668|
|        JAVA|           12500.0|
+------------+------------------+

In [36]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|   Mainframe|    2|
|    Big Data|    2|
|Data Science|    3|
|        JAVA|    2|
+------------+-----+

In [37]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     171000|
+-----------+

In [39]:
df_pyspark.groupBy('Name').max().show()

+-------+-----------+
|   Name|max(Salary)|
+-------+-----------+
|  Akhil|      30000|
|Chandan|      20000|
| Aditya|      25000|
|Sandeep|      21000|
+-------+-----------+

In [40]:
df_pyspark.groupBy('Name').min().show()

+-------+-----------+
|   Name|min(Salary)|
+-------+-----------+
|  Akhil|      15000|
|Chandan|      10000|
| Aditya|      24000|
|Sandeep|      11000|
+-------+-----------+

In [41]:
df_pyspark.groupBy('Name').avg().show()

+-------+------------------+
|   Name|       avg(Salary)|
+-------+------------------+
|  Akhil|           22500.0|
|Chandan|           15000.0|
| Aditya|           24500.0|
|Sandeep|15666.666666666666|
+-------+------------------+